# Java build files
*.class
*.jar
*.war
*.ear

# Build output folders (e.g. Maven, Gradle, IDEs)
bin/
out/
build/
target/

# IDE-specific folders
.vscode/
.idea/
*.iml

# OS-specific
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Supaya folder hasil compile dari project-mu tidak di-track
TubesDRPLDekstopApp/CicilinAPP/app/bin/
