# # # Build & Dependencies # # #

# Abaikan folder cache Gradle
.gradle/

# Abaikan seluruh folder output build
/build/

# Abaikan file JAR, WAR, EAR yang mungkin dihasilkan
*.jar
*.war
*.ear

# # # IDE & Editor # # #

# Abaikan folder konfigurasi IntelliJ
.idea/
*.iml

# Abaikan folder konfigurasi VS Code
.vscode/

# # # File Sistem Operasi & Log # # #

# File thumbnail dan metadata macOS & Windows
.DS_Store
Thumbs.db

# File log dan temporary
*.log
*.tmp

# # # File Sensitif # # #

# Abaikan file variabel lingkungan (environment)
.env